body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
.fexiable-container{
    display: flex;
    padding-bottom: 120px;
}
.top-banner{
    background-image: url(images/top-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#colored{
    color: #ec2fb2;
}
.bigger-font{
    font-size: 50px;
}
.half-width{
    width: 50%;
    margin-left: 35px;
    margin-top: 35px;
}
.half-width img{
    width: 100%;
}
.text-align{
    text-align: justify;
    padding-bottom: 30px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#ec2fb2, #e23a32);
    color: white;
    padding: 10px 20px;
    border-radius: 35px;
    box-shadow: 5px 5px 40px #ec2fb2;
}
.bottom-banner{
    background-image: url(images/bottom-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
.padding{
    padding-right: 50px;
    padding-left: 50px;
}
#margin-link{
    margin-right: 50px;
    margin-left: 50px;
}
.center-align{
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}
.features-item{
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 35px;
    border-radius: 30px;
    box-shadow: 5px 5px 40px gray;
}
.features-item h3{
    font-size: 30px;
    font-weight: 700;
}
.features-item p{
    text-align: justify;
    font-weight: 200;
    font-size: 15px;
}
.features-item img{
    width: 100%;
    border-radius: 30px;
    padding: 10px 0px 5px 0px;
}
.features-item-social{
    display: flex;
    margin: 35px;
    border-radius: 15px;
    box-shadow: 5px 5px 40px gray;
}
.features-social-padding{
    padding-left: 180px;
    padding-right: 190px;
    padding-bottom: 50px;
}
.features-social-padding h1{
    font-size: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.features-social-padding p{
    font-size: 10px;
    font-weight: 100;
    padding-top: 0px;
    margin-top: 0px;
    font-style: initial;
}
.review-section{
    margin: 35px;
    padding-top: 120px;
}
.review{
    width: 80%;
    margin: 40px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 40px gray;
}
.review p{
    text-align: justify;
    font-style: initial;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: gray;
}
.review h1{
    padding-left: 20px;
    padding-right: 20px;
}
footer{
    background-color: black;
}
.footer-center{
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
#footer-color-first{
    color: #ec2fb2;   
}
#footer-color-second{
    color: gray;
}
#padding-bottom{
    padding-bottom: 120px;
}